  <!-- Bootstrap Modal -->
  <div class="modal fade" id="featureModal" tabindex="-1" aria-labelledby="featureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="featureModalLabel">Rewiring the Features</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <p>Thanks! I'm still hammering out some components. This is a weekend side project, but I'm on the job and will have it ready soon! 🛠️</p>
            <p>Meanwhile, why not connect with me on <a href="{{ MY_LINKEDIN_PROFILE_URL }}" target="_blank">LinkedIn</a> or check out my code on <a href="{{ MY_GITHUB_PROFILE_URL }}" target="_blank">GitHub</a>?</p>
            <div class="col-md-8 mx-auto">
                <a href="{{ MY_LINKEDIN_PROFILE_URL }}" target="_blank"><i class="fab fa-linkedin fa-4x"></i></a>
                <a href="{{ MY_GITHUB_PROFILE_URL }}" target="_blank"><i class="fab fa-github fa-4x"></i></a>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>